


body {
  font-family: "Roboto Mono", serif;
}


::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: #e4f3ff82;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #c9c9c9;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);

}


/* ===== Navbar ===== */
.header {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 20;
  background: #fff;
  /* box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important; */
  transition: all 0.4s;
}

@media (min-width: 992px) {

  .header.header-fixed {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    background: hsla(0,0%,100%,.2);
box-shadow: 0 4px 30px rgba(0,0,0,.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);

    transition: all 0.6s ease;
    /* box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important; */
    /* backdrop-filter: blur(10px); */
  }

  .hide-menu {
    top: -120px !important;
  }
}

.typed {
  font-family: "Inter", serif;
  background: linear-gradient(to right, #00ffff 0%, #7104f8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

/*Add custom cursor so it auto inherits font styles*/
.typed::after {
  content: '|';
  background: linear-gradient(to right, #00ffff 0%, #7104f8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor {
  opacity: 0;
  display: none;
}

/*Custom cursor animation*/
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.nav-active {
  color: #000;
  backdrop-filter: blur(10px);
  border-bottom: 3px solid #000;
}


.hero {
  margin-top: 80px;
  
}
.heading-hero {
  margin-top: 60px;
}
.heading-hero h1 {
  font-family: "Inter", serif;
}

.text>p>div {
  background: linear-gradient(to right,
      rgb(28 28 28) 50%,
      rgb(211 211 211) 50%);
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
 
}

.fs-20 {
  font-family: "Inter", serif;
  font-size: 20px;
  line-height: 33px;
}

.fs-18 {
  font-family: "Inter", serif;
  font-size: 18px;
  line-height: 30px;
}

.fs-16 {
  font-family: "Inter", serif;
  font-size: 16px;
  line-height: 20px;
}

.fs-14 {
  font-family: "Inter", serif;
  font-size: 14px;
  line-height: 20px;
}

.f-inter {
  font-family: "Inter", serif;
}




